{% load static %}

<footer class="bg-sky-900 dark:bg-sky-950 text-white dark:text-gray-200 py-8 mt-12 shadow-inner">
  <div class="max-w-7xl mx-auto px-4 flex flex-col md:flex-row items-center justify-between gap-4">
    <div class="flex items-center space-x-3">
      <img src="{% static 'images/adyam-logo.png' %}" alt="MiCon Logo" class="w-10 h-10 rounded-full shadow-md">
      <div class="flex justify-center items-center text-gray-300 mt-2 md:mt-0">&copy; {{ year }} Adyam Engineering. All rights reserved.</div>

    </div>
    
    <div>
      <span class="font-bold text-lg tracking-wide">Quick Links</span>

      <div class="flex space-x-6 text-sm font-medium">
        <a href="#services" class="hover:text-sky-300 transition">Services</a>
        <a href="#contact" class="hover:text-sky-300 transition">Contact</a>
        <a href="{%url 'core:about' %}" class="hover:text-sky-300 transition">About Us</a>
                  
        <a href="{% url 'core:privacy-policy' %}" class="hover:text-sky-300 transition">Privacy</a>
      </div>
    </div>

   
  </div>

</footer>
