  
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


/* index.css or styles.css */
:root {
  --color-primary: #721616;
  --color-secondary: #1a365d;
  --font-inter: 'Inter', sans-serif;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.bg-secondary {
  background-color: var(--color-secondary) !important;
}

.text-primary {
  color: var(--color-primary) !important;
}

.text-secondary {
  color: var(--color-secondary) !important;
}

.font-inter {
  font-family: var(--font-inter) !important;
}
