<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title %} Ayam Engineering {% endblock title %}</title>
    <link rel="stylesheet" href="{%static 'css/tailwind.min.css'%}"/> 
    <link rel="stylesheet" href="{%static 'css/login.css'%}"/>
    <link rel="stylesheet" href="{%static 'css/home.css'%}"/>
    <link rel="stylesheet" href="{%static 'css/navbar.css'%}"/>
    
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    {% block header %} {% endblock header %}

    {% block navbar %} {% endblock %}
    
    {% block content %} {% endblock content %}

    
    {% block body %} {% endblock body %}

    {% block footer %} {% endblock footer %}
      
    <!-- Script block -->
    {% block script %} {%endblock script%}
</body>
</html>